.414_286 { 
	overflow:hidden;
}.e414_286 { 
	background-color:rgba(250.00000029802322, 243.00000071525574, 237.0000010728836, 1);
	width:1190px;
	height:842px;
	position:absolute;
}.e414_288 { 
	color:rgba(0, 0, 0, 1);
	width:348.4591064453125px;
	height:431px;
	position:absolute;
	left:765.3714599609375px;
	top:40.2763671875px;
	font-family:Pretendard;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e414_289 { 
	width:595px;
	height:842px;
	position:absolute;
	left:0.48468017578125px;
	top:0px;
}.e414_290 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1119.6524658203125px;
	height:842px;
	position:absolute;
	left:-223.6988983154297px;
	top:0px;
	background-image:url(images/rectangle_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e414_287 { 
	color:rgba(250.00000029802322, 243.00000071525574, 237.0000010728836, 1);
	width:200px;
	height:420.24993896484375px;
	position:absolute;
	left:369.1756591796875px;
	top:297.2763671875px;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e414_291 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:350.7421875px;
	height:228.59564208984375px;
	position:absolute;
	left:765.3714599609375px;
	top:478.33984375px;
	background-image:url(images/rectangle_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}