
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 59.5rem;
}.item-5-xjQ {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #faf3ed;
  padding: 6.664rem 0rem 10.116rem 0rem;
  position: relative;

  .line-10-VDY {
    height: 30.7rem;
    background-color: #000000;
    flex-shrink: 0;
    margin: 0rem 0rem 0.336rem 41.509rem;
    width: 0.025rem;
  }
  .item-5--QLW {
    margin: 0rem 42.163rem 27.534rem 0rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #424242;
    font-family: Pretendard, 'Source Sans Pro';
    max-width: 6.9rem;
    cursor: pointer;
    line-height: 1.375;
    flex-shrink: 0;
  }
  .line-6-Snz {
    margin-right: 6.3162rem;
    width: 61.2rem;
    height: 0.05rem;
    background-color: #000000;
    flex-shrink: 0;
  }
}
