
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 119rem;
}.item-5-sKC {
  width: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  padding: 0rem 18.2rem 16rem 18.2rem;
  background-color: #faf3ed;
  background-size: 100% 176.663%;
  background-image: url('REPLACE_IMAGE:954d30a700fdd91452161aa23ebc4496969a23e4');
  position: relative;
  flex-direction: column;

  .auto-group-q5ft-nwx {
    margin-bottom: 1.7rem;
    width: 48.3517rem;
    flex-shrink: 0;

    .rectangle-17-w4A {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:a6dc869e299064f3ad2f2f83d86ed75ccd14458d');
      width: 11.8rem;
      height: 30.5rem;
      background-color: #d9d9d9;
      background-size: 100% 100%;
    }
  }
  .item-51-9-15-1--4ea {
    flex-shrink: 0;
    max-width: 34.9rem;
    font-family: Pretendard, 'Source Sans Pro';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    margin-left: 0.0485rem;
    cursor: pointer;

    .item-51-9-15-1--4ea-sub-0 {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Pretendard, 'Source Sans Pro';
    }
    .item-51-9-15-1--4ea-sub-1 {
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
    }
    .item-51-9-15-1--4ea-sub-2 {
    }
  }
  .item-5-sKC-bg {
    position: relative;
    background-image: url('REPLACE_IMAGE:954d30a700fdd91452161aa23ebc4496969a23e4');
    width: 119rem;
    height: 84.2rem;
  }
}
