
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 59.5rem;
}.item-5-nEa {
  box-sizing: border-box;
  padding: 6.664rem 8.983rem 6.664rem 14.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #faf3ed;

  .item-5-2-25-3--uKC {
    flex-shrink: 0;
    margin: 10.136rem 3.592rem 0rem 0rem;
    max-width: 32.2rem;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    color: #424242;
    font-size: 1.4rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .line-10-eT8 {
    height: 30.7rem;
    background-color: #000000;
    flex-shrink: 0;
    width: 0.025rem;
  }
}
