
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 105rem;
}.s-core-dream-NJr {
  background-color: #d9d9d9;
  width: 100%;
  height: 232.3rem;
  position: relative;
  overflow: hidden;

  .headings-hero-headline-60-Hwc {
    line-height: 1.2;
    font-family: S-Core Dream, 'Source Sans Pro';
    width: 71.2rem;
    left: 10rem;
    top: 17.2rem;
    font-size: 6rem;
    font-weight: 700;
    color: #424242;
    white-space: nowrap;
    height: 7.2rem;
    position: absolute;
  }
  .headings-headline-48-NTG {
    line-height: 1.1666666667;
    color: #424242;
    font-family: S-Core Dream, 'Source Sans Pro';
    white-space: nowrap;
    height: 5.6rem;
    position: absolute;
    top: 29.2rem;
    font-size: 4.8rem;
    width: 46.3rem;
    left: 10rem;
    font-weight: 700;
  }
  .headings-headline-36-H4S {
    width: 34.7rem;
    position: absolute;
    top: 39.6rem;
    line-height: 1.2222222222;
    font-family: S-Core Dream, 'Source Sans Pro';
    white-space: nowrap;
    height: 4.4rem;
    left: 10rem;
    font-size: 3.6rem;
    font-weight: 700;
    color: #424242;
  }
  .headings-headline-30-nWz {
    width: 27.6rem;
    height: 4rem;
    top: 48.8rem;
    font-weight: 500;
    line-height: 1.3333333333;
    font-family: S-Core Dream, 'Source Sans Pro';
    position: absolute;
    left: 10rem;
    font-size: 3rem;
    color: #424242;
    white-space: nowrap;
  }
  .headings-headline-24-JkE {
    width: 22.1rem;
    font-size: 2.4rem;
    font-weight: 500;
    font-family: S-Core Dream, 'Source Sans Pro';
    white-space: nowrap;
    height: 3.6rem;
    position: absolute;
    left: 10rem;
    top: 57.6rem;
    line-height: 1.5;
    color: #424242;
  }
  .headings-headline-20-2RL {
    white-space: nowrap;
    height: 2.2rem;
    position: absolute;
    top: 66rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: S-Core Dream, 'Source Sans Pro';
    width: 14.8rem;
    left: 10rem;
    line-height: 1.375;
    color: #424242;
  }
  .body-body-20-YPg {
    line-height: 1.5;
    font-family: S-Core Dream, 'Source Sans Pro';
    width: 11.7rem;
    height: 3rem;
    left: 10rem;
    font-size: 2rem;
    white-space: nowrap;
    position: absolute;
    top: 73rem;
    font-weight: 500;
    color: #424242;
  }
  .body-body-18-fDQ {
    width: 10.6rem;
    height: 2.8rem;
    left: 10rem;
    top: 80.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: S-Core Dream, 'Source Sans Pro';
    position: absolute;
    line-height: 1.5555555556;
    color: #424242;
    white-space: nowrap;
  }
  .body-body-16-yUz {
    font-family: S-Core Dream, 'Source Sans Pro';
    white-space: nowrap;
    top: 88.4rem;
    line-height: 1.5;
    color: #424242;
    left: 10rem;
    font-size: 1.6rem;
    font-weight: 500;
    width: 9.4rem;
    height: 2.4rem;
    position: absolute;
  }
  .body-body-14-tM4 {
    font-family: S-Core Dream, 'Source Sans Pro';
    width: 8.2rem;
    height: 2.1rem;
    top: 95.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    position: absolute;
    left: 10rem;
    color: #424242;
    white-space: nowrap;
  }
  .body-body-12-Q4W {
    height: 1.7rem;
    line-height: 1.4166666667;
    white-space: nowrap;
    width: 7.1rem;
    position: absolute;
    left: 10rem;
    top: 102.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #424242;
    font-family: Pretendard, 'Source Sans Pro';
  }
  .body-body-10-iL6 {
    height: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #424242;
    font-weight: 400;
    font-family: Pretendard, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.9rem;
    position: absolute;
    left: 10rem;
    top: 109rem;
  }
  .meta-label-14-1pz {
    left: 10rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
    width: 9rem;
    position: absolute;
    line-height: 1;
    color: #424242;
    font-family: S-Core Dream, 'Source Sans Pro';
    height: 1.4rem;
    top: 115.3rem;
  }
  .meta-label-12-L6a {
    font-family: S-Core Dream, 'Source Sans Pro';
    width: 7.7rem;
    height: 1.2rem;
    left: 10rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: #424242;
    white-space: nowrap;
    position: absolute;
    top: 121.5rem;
    font-size: 1.2rem;
  }
  .meta-caption-12-qZ8 {
    color: #424242;
    white-space: nowrap;
    position: absolute;
    top: 127.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.25;
    font-family: S-Core Dream, 'Source Sans Pro';
    width: 8.3rem;
    height: 1.5rem;
    left: 10rem;
  }
  .june-juno-juno-jupiter--Lkn {
    height: 12.1rem;
    left: 10rem;
    font-weight: 500;
    line-height: 1.2575;
    width: 36.1rem;
    position: absolute;
    top: 133.8rem;
    font-size: 2.4rem;
    color: #1e1e1e;
    font-family: S-Core Dream, 'Source Sans Pro';
  }
  .item--LeJ {
    width: 26rem;
    height: 14rem;
    position: absolute;
    left: 10rem;
    top: 153.1rem;
    background-color: rgba(66, 66, 66, 0.3000000119);
    border-radius: 3rem;

    .item-02-28-rsY {
      height: 6.1rem;
      position: absolute;
      top: 2rem;
      color: #ffffff;
      font-family: S-Core Dream, 'Source Sans Pro';
      white-space: nowrap;
      width: 12.6rem;
      left: 2.4rem;
      display: flex;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.2575;
    }
    .item--ZX4 {
      height: 5.3rem;
      display: flex;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      white-space: nowrap;
      width: 6.2rem;
      position: absolute;
      left: 17rem;
      top: 2.05rem;
      font-size: 4.2rem;
      font-family: S-Core Dream, 'Source Sans Pro';
    }
    .item-09-00-10-00-TsL {
      top: 7.5rem;
      line-height: 1.2575;
      font-family: S-Core Dream, 'Source Sans Pro';
      position: absolute;
      height: 4.1rem;
      left: 3rem;
      display: flex;
      font-size: 3.2rem;
      font-weight: 500;
      color: #ffffff;
      white-space: nowrap;
      width: 17.2rem;
    }
  }
  .web-XsC {
    box-sizing: border-box;
    padding: 1.6rem 2rem;
    position: absolute;
    top: 171.9rem;
    background-color: #424242;
    border-radius: 1.5rem;
    width: 30.9rem;
    height: 19.2rem;
    left: 10rem;

    .auto-group-4w1k-SUN {
      display: flex;
      align-items: center;
      margin: 0rem 10.7rem 2.55rem 0rem;
      width: calc(100% - 10.7rem);

      .item--ZJ6 {
        margin-right: 7.3rem;
        display: flex;
        line-height: 1.3333333333;
        font-family: Pretendard, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 3rem;
        font-weight: 600;
        color: #ffffff;
        white-space: nowrap;
      }
      .bold-30-UAA {
        text-transform: capitalize;
        color: #bdbdbd;
        font-family: Pretendard, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;
        margin-bottom: 0.8rem;
        font-size: 1rem;
        line-height: 1.2575;
        flex-shrink: 0;
        display: flex;
        font-weight: 500;

        .bold-30-UAA-sub-0 {
          line-height: 1.2575;
          text-transform: capitalize;
          color: #bdbdbd;
          font-family: Pretendard, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
        }
        .bold-30-UAA-sub-1 {
          color: #bdbdbd;
          font-family: Pretendard, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.2575;
          text-transform: capitalize;
        }
        .bold-30-UAA-sub-2 {
        }
      }
    }
    .auto-group-veyl-HWv {
      height: 4.25rem;
      display: flex;
      align-items: flex-start;
      margin: 0rem 9.7rem 2.2rem 0rem;
      width: calc(100% - 9.7rem);

      .item--nyU {
        margin: 0.05rem 6.9rem 0rem 0rem;
        line-height: 1.4479999542;
        flex-shrink: 0;
        text-transform: capitalize;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        max-width: 5.9rem;
        display: flex;
        font-size: 1.6rem;
        font-weight: 700;

        .item--nyU-sub-0 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          text-transform: capitalize;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--nyU-sub-1 {
          font-weight: 400;
          line-height: 1.2575;
          text-transform: capitalize;
          color: #ffffff;
          font-family: Pretendard, 'Source Sans Pro';
          font-size: 1.4rem;
        }
      }
      .auto-group-1bta-G1U {
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .bold-16-p2z {
          font-weight: 300;
          flex-shrink: 0;
          margin-bottom: 1.45rem;
          display: flex;
          font-size: 1rem;
          line-height: 1.2575;
          text-transform: capitalize;
          color: #bdbdbd;
          font-family: Pretendard, 'Source Sans Pro';
          white-space: nowrap;
        }
        .regular-14-vri {
          font-family: Pretendard, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #bdbdbd;
        }
      }
    }
    .auto-group-1vpu-fZQ {
      margin-right: 6.9rem;
      width: calc(100% - 6.9rem);
      height: 3rem;
      display: flex;
      align-items: flex-start;

      .frame-75-ofc {
        position: relative;
        white-space: nowrap;
        justify-content: center;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 10.8rem;
        display: flex;
        font-weight: 400;
        line-height: 1.4475;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        align-items: center;
        border: solid 0.1rem #ffffff;
        height: 100%;
        font-size: 1.6rem;
        text-transform: capitalize;
        border-radius: 1.5rem;
        margin-right: 2rem;
        overflow: hidden;
      }
      .regular-16pt-pc-UFx {
        text-transform: capitalize;
        margin-top: 0.35rem;
        font-size: 1rem;
        font-weight: 300;
        font-family: Pretendard, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        line-height: 1.2575;
        color: #bdbdbd;
      }
    }
  }
  .print-Aea {
    width: 30.9rem;
    height: 19.2rem;
    position: absolute;
    left: 10rem;
    background-color: #424242;
    border-radius: 1.5rem;
    box-sizing: border-box;
    padding: 2.3rem 2rem;
    top: 195.9rem;

    .auto-group-p68n-gN2 {
      margin: 0rem 10.7rem 2.25rem 0rem;
      width: calc(100% - 10.7rem);
      display: flex;
      align-items: flex-start;

      .item--Qop {
        margin-right: 8.4rem;
        display: flex;
        color: #ffffff;
        font-family: Pretendard, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.5;
        flex-shrink: 0;
      }
      .bold-24-vnA {
        margin-top: 0.25rem;
        white-space: nowrap;
        align-items: baseline;
        line-height: 1.2575;
        text-transform: capitalize;
        color: #bdbdbd;
        font-family: Pretendard, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-size: 1rem;
        font-weight: 500;

        .bold-24-vnA-sub-0 {
          font-weight: 400;
          line-height: 1.2575;
          text-transform: capitalize;
          color: #bdbdbd;
          font-family: Pretendard, 'Source Sans Pro';
          font-size: 1rem;
        }
        .bold-24-vnA-sub-1 {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.2575;
          text-transform: capitalize;
          color: #bdbdbd;
          font-family: Pretendard, 'Source Sans Pro';
        }
        .bold-24-vnA-sub-2 {
        }
      }
    }
    .auto-group-mdtz-LDc {
      margin: 0rem 9.7rem 1.5rem 0rem;
      width: calc(100% - 9.7rem);
      height: 4.25rem;
      display: flex;
      align-items: flex-start;

      .item--49c {
        max-width: 4.3rem;
        font-weight: 700;
        text-transform: capitalize;
        flex-shrink: 0;
        margin: 0.2rem 8.5rem 0rem 0rem;
        font-size: 1.6rem;
        line-height: 1.4479999542;
        color: #ffffff;
        font-family: Noto Sans KR, 'Source Sans Pro';
        display: flex;

        .item--49c-sub-0 {
          font-weight: 400;
          line-height: 1.2575;
          text-transform: capitalize;
          color: #ffffff;
          font-family: Pretendard, 'Source Sans Pro';
          font-size: 1.4rem;
        }
        .item--49c-sub-1 {
          color: #ffffff;
          font-family: Pretendard, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2575;
          text-transform: capitalize;
        }
      }
      .auto-group-9cbq-kAr {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .bold-16-uJe {
          color: #bdbdbd;
          margin-bottom: 1.45rem;
          display: flex;
          font-size: 1rem;
          text-transform: capitalize;
          flex-shrink: 0;
          font-weight: 300;
          line-height: 1.2575;
          font-family: Pretendard, 'Source Sans Pro';
          white-space: nowrap;
        }
        .regular-10-SJa {
          flex-shrink: 0;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #bdbdbd;
          font-family: Pretendard, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-wkwv-G2i {
      margin-right: 6.9rem;
      width: calc(100% - 6.9rem);
      height: 3rem;
      display: flex;
      align-items: center;

      .frame-75-oYS {
        box-sizing: border-box;
        text-transform: capitalize;
        font-family: Noto Sans KR, 'Source Sans Pro';
        justify-content: center;
        align-items: center;
        width: 10.8rem;
        overflow: hidden;
        font-weight: 400;
        display: flex;
        line-height: 1.4475;
        border: solid 0.1rem #ffffff;
        margin-right: 2rem;
        height: 100%;
        position: relative;
        border-radius: 1.5rem;
        flex-shrink: 0;
        font-size: 1.6rem;
        color: #ffffff;
        white-space: nowrap;
      }
      .regular-16pt-pc-tJz {
        flex-shrink: 0;
        margin-top: 0.4rem;
        display: flex;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.2575;
        color: #bdbdbd;
        font-family: Pretendard, 'Source Sans Pro';
        text-transform: capitalize;
        white-space: nowrap;
      }
    }
  }
  .palette-nfG {
    align-items: center;
    width: 95rem;
    height: 2.4rem;
    position: absolute;
    left: 10rem;
    top: 219.9rem;
    display: flex;

    .color0-Hc2 {
      margin-right: 2.4359rem;
      width: 17.0513rem;
      height: 2.4rem;
      background-color: #e1e1da;
      flex-shrink: 0;
    }
    .color1-2Zc {
      margin-right: 2.4359rem;
      width: 17.0513rem;
      height: 2.4rem;
      background-color: #344538;
      flex-shrink: 0;
    }
    .color2-Avi {
      margin-right: 2.4359rem;
      width: 17.0513rem;
      height: 2.4rem;
      background-color: #94a08a;
      flex-shrink: 0;
    }
    .color3-7qx {
      margin-right: 2.4359rem;
      width: 17.0513rem;
      height: 2.4rem;
      background-color: #888c61;
      flex-shrink: 0;
    }
    .color4-Gir {
      width: 17.0513rem;
      height: 2.4rem;
      background-color: #7a614e;
      flex-shrink: 0;
    }
  }
}
