
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 119rem;
}.item-5-CBp {
  box-sizing: border-box;
  padding: 0rem 4.6rem 0rem 0.048rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #faf3ed;
}
.item-5-CBp .auto-group-2sv4-6Y6 {
  margin-right: 5.0515rem;
  width: 59.5rem;
  height: 84.2rem;
  position: relative;
  flex-shrink: 0;
}
.item-5-CBp .auto-group-2sv4-6Y6 .frame-78-pyt {
  width: 59.5rem;
  height: 84.2rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.item-5-CBp .auto-group-2sv4-6Y6 .frame-78-pyt .rectangle-18-AXx {
  width: 111.9652rem;
  height: 84.2rem;
  position: absolute;
  left: -0.0485rem;
  top: 0.05rem;
  background-size: 56.401% 100%;
  background-position: 22.1785rem 0;
  background-image: url('../assets/rectangle-18-bg.png');
}
.item-5-CBp .auto-group-2sv4-6Y6 .frame-78-pyt .rectangle-18-AXx .rectangle-18-AXx-bg {
  width: 111.9652rem;
  height: 84.2rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:53f15f7c54b5105bd79496988382de2ca91d8d65');
}
.item-5-CBp .auto-group-2sv4-6Y6 .item-512-5--jUa {
  width: 20.1rem;
  height: 31.5rem;
  position: absolute;
  left: 6.6515rem;
  top: 17.15rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #faf3ed;
  font-family: Pretendard, 'Source Sans Pro';
}
.item-5-CBp .auto-group-2sv4-6Y6 .item-512-5--jUa .item-512-5--jUa-sub-0 {
}
.item-5-CBp .auto-group-2sv4-6Y6 .item-512-5--jUa .item-512-5--jUa-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #faf3ed;
  font-family: Inter, 'Source Sans Pro';
}
.item-5-CBp .auto-group-2sv4-6Y6 .item-512-5--jUa .item-512-5--jUa-sub-2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #faf3ed;
  font-family: Pretendard, 'Source Sans Pro';
}
.item-5-CBp .item-513-uBL {
  margin: 0rem 4.6rem 23.4rem 0rem;
  max-width: 10rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-5-CBp .item-513-uBL .item-513-uBL-sub-0 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
}
.item-5-CBp .item-513-uBL .item-513-uBL-sub-1 {
}
.item-5-CBp .item-513-uBL .item-513-uBL-sub-2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
}
.item-5-CBp .item-513-uBL .item-513-uBL-sub-3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
}
.item-5-CBp .auto-group-umne-svn {
  margin-bottom: 16.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-5-CBp .auto-group-umne-svn .rectangle-19-2Ht {
  margin-bottom: 3.5rem;
  width: 35.1rem;
  height: 22.9rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-19-bg.png');
  flex-shrink: 0;
}
.item-5-CBp .auto-group-umne-svn .item--w9x {
  max-width: 35.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
